#!/bin/bash

NAME="nosql-finder"
DIR={{ webapp_dir }}
USER={{ user }}
GROUP={{ user_group }}
WORKERS=3
BIND='{{ ansible_default_ipv4.address }}:8001'
DJANGO_SETTINGS_MODULE=nosqlEngine.settings
DJANGO_WSGI_MODULE=nosqlEngine.wsgi
LOG_LEVEL=error

cd $DIR
source {{ environment_dir }}/bin/activate

export DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
export PYTHONPATH=$DIR:$PYTHONPATH

exec {{ gunicorn_exec_path }} ${DJANGO_WSGI_MODULE}:application \
  --name $NAME \
  --workers $WORKERS \
  --user=$USER \
  --group=$GROUP \
  --bind=$BIND \
  --log-level=$LOG_LEVEL \
  --log-file=-
