upstream app_server {
    server unix:/root/run/gunicorn.sock fail_timeout=0;
}

server {
    listen 80;

    # add here the ip address of your server
    # or a domain pointing to that ip (like example.com or www.example.com)
    server_name {{ ansible_default_ipv4.address }};

    keepalive_timeout 5;
    client_max_body_size 4G;

    access_log {{ nginx_logs_path }}/nginx-access.log;
    error_log {{ nginx_logs_path }}/nginx-error.log;

    location /static {
        alias {{ webapp_dir }}/static;
    }

    # checks for static file, if not found proxy to app
    location / {
        try_files $uri @proxy_to_app;
    }

    location @proxy_to_app {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_redirect off;
      proxy_pass http://{{ ansible_default_ipv4.address }}:8001;
    }
}
