[program:nosql-finder]
command={{ gunicorn_start_file_path }}/gunicorn_start
user={{ user }}
directory={{ webapp_dir }}/nosqlEngine
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile={{ gunicorn_logs_path }}/gunicorn-error.log
